body {
  background-color: black;
  color: rgb(255, 255, 255);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.example {
  color: rgb(59, 149, 223);
}

button {
  background-color: rgb(170, 46, 46);
  border: 1px solid white;
  font-size: 15px;
  width: 100px;
  height: 25px;
  border-radius: 3px;
}

input {
  margin: 2px;
}
